#contenedor {
  display: grid;
  grid-template-columns: 20% [column2] 20% [column3] 20% [column4] 20% [column5] 20%;
  grid-template-rows: 20% [row2] 20% [row3] 20%;
  width: 50vw;
  height: 50vw;
}
#iniciar {
  background-color: purple;
  grid-row: row2;
  grid-column-start: column2;
  grid-column-end: column5;
}
[id="0"] {
  grid-row: row3;
  grid-column: column2;
  background-color: whitesmoke;
}
[id="1"] {
  grid-row: row3;
  grid-column: column3;
  background-color: whitesmoke;
}
[id="2"] {
  grid-row: row3;
  grid-column: column4;
  background-color: whitesmoke;
}
.colorVerde {
  background-color: green;
}
.colorRojo {
  background-color: red;
}
.deshabilitarEventoClick {
  pointer-events: none;
}
#turnos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: row2;
  grid-column-start: column2;
  grid-column-end: column5;
  align-self: end;
  color: white;
}
.turnoUsuarioPierde {
  background-color: red;
}
.turnoMaquina {
  background-color: purple;
}
.turnoUsuario {
  background-color: palegreen;
}
.invisible {
  display: hidden;
}
